#Position1{
    top: 25%;
    bottom: 66.67%;
}

#Position2{
    top: 45.83%;
    bottom: 45.83%;
}

#Position3{
    top: 66.67%;
    bottom: 25%;
}



.LandingPage2{
    background: #F5F5F5;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.Navigation2{
    /*position: absolute;*/
    display: block;
    /*float: left;*/
}

.Navigation2-Menu{
    position: relative;
    float: right;
    right: 0;
    margin-right: 50px;
    margin-top: 35px;
    padding-left: 25px; /* create more space for vector */
}


.Navigation2-Menu-Vector{
    position: absolute;
    left: 1%;
    right: 12.5%;
    background: #225378;
    width: 18px;
    height: 2px;
}



.Navigation2-Menu-Button{
    font-family: Google Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    border: none;
    color: #225378;
    background: #F5F5F5;
}

.Container2{
    display: block;
}

.Container2-Phone{
    position: relative;
    width: 1800px;
    height: 1080px;
    /*width: 1000px;*/
    /*height: 600px;*/
    /*width: 73.125%;*/
    /*height: 78.1%;*/
    right: -650px; /* move to right*/
    top: 120px;
    float: right;
    object-position: 0 100%;
}

.Title2{
    position: absolute;
    display: block;
    left: 0;
    text-align: center;
    top: 30%;
    padding-left: 70px;
    justify-content: center;
}

.Title2-Name{
    font-family: 'Henny Penny';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 10px;
    text-align: center;
    color: #23A1FF;
}

.Title2-Script{
    font-family: Google Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;
    color: #225378;
}

.Title2-Download{
    background: #23A1FF;
    height: 71px;
    width: 300px;
    border: none;
}

.Title2-Button{
    text-decoration: none;
    background: #23A1FF;
    margin: auto;
    position: relative;
}

.Title2-Button-Inner{
    color: #F6FAFE;
    height: 21px;
}

.Title2-Button-Inline{
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
}